<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <title>About me | sdjo web site</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/77d81e5d17.js" crossorigin="anonymous"></script>
    <link href="{% static 'single_pages/css/about_me.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include 'blog/navbar.html' %}

<section>
    <div class="container mt-5">
        <div class="row justify-content-between">
            <div class="row">
                <div class="col-lg-8">
                    <h1>안녕하세요. 조성동 입니다.</h1>
                    <h3 class="text-secondary">직무 전환을 하고자 공부하고 있습니다.</h3>
                    <h5 class="text-success">희망 직무 및 관심분야는 클라우드엔지니어, devops, 파이썬 웹 개발입니다..</h5>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'single_pages/images/cafe.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>PORTFOLIO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#pop1">
                    <img class="card-img-top" src="{% static 'single_pages/images/edu.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">EDUCATION</h5>
                        <br>
                        <hr/>
                        <ul>
                            <li> 대학원 <br>
                                | 홍익대학교 문화예술경영대학원 <br>
                                | 2019.03 ~ 2022.08(입학/졸업) <br>
                                - 문화예술MBA(문화예술경영학석사) </li>
                            <li> 사이버대학교 <br>
                                | 한양사이버대학교 <br>
                                | 2018.09 ~ 2020.08(편입/졸업) <br>
                                - 디자인기획 전공(디자인학사), <br>
                                - 컴퓨터공학 전공(공학사)</li>
                            <li> 대학교 <br>
                                | 원광대학교 <br>
                                | 2009.03 ~ 2016.02(입학/졸업) <br>
                                - 경영학부(경영학사), <br>
                                - 패션주얼리디자인산업전공 <br>
                                &nbsp;&nbsp;(디자인산업학사), <br>
                                - 경찰행정학과</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#pop2">
                    <img class="card-img-top" src="{% static 'single_pages/images/career.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">CAREER</h5>
                        <span class="text-muted">(경력기술 click)</span>
                        <hr/>
                        <ul>
                            <li> P회사(모자 제조업) <br>
                                | 매출액 규모 : 약 800억 <br>
                                | 2021.07 ~ 2022.07(퇴사) <br>
                                - 경영기획실 대리
                            </li>
                            <li> W회사(냉온수기, 정수기 제조업) <br>
                                | 매출액 규모 : 약 1300억 <br>
                                | 2016.02 ~ 2021.06(퇴사) <br>
                                - 구매팀 대리 / 정보전략 겸직
                            </li>
                            <li> 청년창업 <br>
                                | 2015.08 ~ 2015.10(폐업) <br>
                                - 공동대표-휴게소 휴게 음식점
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#pop3">
                    <img class="card-img-top" src="{% static 'single_pages/images/learn.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">Training</h5>
                        <p>교육이수 내용</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Scrollable modal -->
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal fade" id="pop1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popModal1">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal fade" id="pop2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popModal2">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'single_pages/career_description.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal fade" id="pop3" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popModal3">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function searchPost(){
        let searchValue = document.getElementById('search-input').value.trim();
        if (searchValue.length > 1){
            location.href="/blog/search/"+ searchValue + "/";
        }
        else{
            alert('검색어(' + searchValue + ')가 너무 짧습니다.');
        }
    };

    document.getElementById('search-input').addEventListener('keyup', function(event){
        if(event.key == 'Enter'){
            searchPost();
        }
    })
</script>
<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>