<p>
<h2>P회사(2021년 7월 ~ 2022년 7월)</h2>
※ 모자 밴더회사<br>
1. BPR(Business Process Reeengineering)<br>
- 업무 프로세스 표준화를 위한 부서 업무 분석 및 업무 표준 제안(문서 양식 등)<br>
<br>
1) 오더 관리<br>
- 오더 수주 부터 납품까지 흐름 정리.<br>
- 데이터 취합 엑셀 양식 개발.<br>
- 데이터 자동 취합 매크로 개발(python, vba)<br>
<br>
2. 자재 매입/출고 관리를 위한 Ecount ERP 도입 및 관리.<br>
- Ecount ERP도입을 위한 Ecount ERP 환경 커스터마이징(코딩x)<br>
- VBA매크로 제작, 코드채번을 위한 사내 mariaDB서버 구축 등.<br>
<br>
<hr/>
<h2>W회사(2016년 2월 ~ 2021년 6월)</h2>
1. 구매관리(2016년 2월 ~ 2019년 8월)<br>
- 협력사 선정시 안정성 및 수익성 지표 계산 프로그램(엑셀) 자체제작 및 재무상태표 검토.(제조원가명세서, 포괄손익계산서, 재무상태표)<br>
- 견적서 수취 및 검토, 협의.<br>
- 담당품목 : 사출품, 보온재, 마그넷, 조종족, 스프링 등<br>
- 업체 관리.<br>
- 냉/온수기, 정수기 원자재, 부자재 발주 및 납기 관리.<br>
- 월 마감 및 매입 증가원인 관리.<br>
- 생산계획 반영 주차별, 일단위 소요량 산출.<br>
- 공용자재 BOM데이터 활용, 엑셀 VBA 코드작업하여 생산계획대비 소요량 계산작업 자동화.<br>
- BOM기준 제품 재료비 산출 및 비용 변동원인 관리.<br>
- 구매팀 신입직원 교육(구매팀 프로세스, 회계기초, 엑셀 등)<br>


2. 기업 IT인프라 및 솔루션 관리(2017년 5월~2021.06)<br>
1) RPA(사무자동화) PM / 프로세스 개발<br>
-. 업체 컨텍 및 선정.<br>
-. 부서별 업무 인터뷰 및 표준화 진행.<br>
-. 자체 업무 프로세스 분석 및 개발<br>
-. C#, VBA사용.<br>
<br>
2) 웹개발<br>
-. 사내 DB조회 웹 개발<br>
-. php, sqlsvr 연동.<br>
<br>
3) 유지보수<br>
가. 소프트웨어, 하드웨어 자산관리<br>
-. 자체 PC유지 보수(조립PC)<br>
-. 도메인관리<br>
나. 네트워크 관리<br>
다. 서버관리<br>
라. 외부 업체 관리<br>
마. 패키지 프로그램 운영관리<br>
-. 계정관리<br>
-. PLM(네오퀘스트), ERP-iu(더존), 그룹웨어(더존), 스팸메일 필터(지란지교시큐리티), 오피스키퍼 등<br>
-. 사내 그룹웨어 구축 참여(더존), 그룹웨어 문서 양식 자체 제작(html)<br>
<br>
4) 보안관리<br>
- 사내 입퇴사 보안 서약서 개정(산업기술 보호법, 근로기준법, 저작권법 등 검토 하여 반영)<br>
- DLP솔루션 운용(지란지교소프트社, 오피스키퍼)<br>
- VPN 권한설정.<br>
<br>
5) 개인정보보호<br>
가. 개인정보보호 내부관리계획 개정<br>
나. 개인정보 처리방침 개정(https://ruhens.co.kr/index.php?WS=694)<br>
다. 영상정보처리기기 운영 관리방침 제정<br>

</p>
